* {
    font-family: poppins,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    border-width: 0px;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
  
button {
    border-style: solid;
    transition: 0.5s;
}

button:hover {
    transform: scale(1.1);
    opacity: 0.5;
}

body {
   padding: 5px;
}

.everything {
    animation: fadeIn 5s;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    color: black;
    font-size: 60px;
    font-weight: 800;
}

h3 {
    text-align: center;
    color: black;
}

.main {
    display: flex;
    justify-content: center;
    flex: initial;
}

.container {
    display: flex;
    justify-content: center;
    flex: none;
    width: 500px; 
    height: 500px;
    flex-wrap: wrap;
    margin: 30px 40px;
    box-shadow: black 0px 3px 30px;
}

.row {
    display: flex;
    width: 100%;
}

.box {
    flex-grow: 1;
    transition: 1s;
}

.customization {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.clear {
    margin-left: 18px;
    padding: 10px 20px;
    border-radius: 15px;
    font-size: 15px;
    border-color: black;
    border-width: 3px;
    background-color: white;
    color: black;
    cursor: pointer;
}

.range {
    margin-left: 18px;
    padding: 10px 20px;
    border-radius: 15px;
    font-size: 15px;
    border-color: black;
    border-width: 3px;
    background-color: white;
    color: black;
    cursor: pointer;
}

.themes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    flex: none;
}

.themes button, a {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 15px;
    font-size: 15px;
    border-color: black;
    border-width: 3px;
    background-color: white;
    color: black;
    cursor: pointer;
}

input[type=color] {
    height: 49px;
    width: 90px;

}