* {
    margin: 0px;
    text-align: center;
    padding: 0px;
    box-sizing: border-box;
    font-family: poppins,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    padding: 10px;
}

.webContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: none;
    margin-top: 40px;
}

h1 {
    font-size: 50px;
    font-weight: 900;
}
h3 {
    font-size: 20px;
    font-weight: 800;
}

.themeOptions {
    flex: none;
    margin: 200px 50px;
    justify-content: center;
    flex-wrap: wrap;
    display: flex; 
}

.themeOptions button {    
    width: 300px;
    margin: 15px 10px;
    padding: 5px 10px;
    border-radius: 12px;
    font-size: 30px;
    background-color: white;
}

a {
    color: black;
    text-decoration: none;
}


footer {
    background-color: rgb(44, 44, 44);
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    bottom: 0%;
}

footer a {
    color: white;
    font-weight: 600;
}   

button {
    transition: 0.5s;
}

button:hover {
    transform: scale(1.1);
    cursor: pointer;
}